parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$fqcn of class Soyhuce\\\\NextIdeHelper\\\\Domain\\\\Factories\\\\Entities\\\\Factory constructor expects class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\>, class\\-string given\\.$#"
			count: 1
			path: src/Domain/Factories/Actions/FindFactories.php

		-
			message: "#^Parameter \\#1 \\$fqcn of class Soyhuce\\\\NextIdeHelper\\\\Domain\\\\Models\\\\Entities\\\\Model constructor expects class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>, class\\-string given\\.$#"
			count: 1
			path: src/Domain/Models/Actions/FindModels.php

		-
			message: "#^Property Soyhuce\\\\NextIdeHelper\\\\Domain\\\\Models\\\\Entities\\\\QueryBuilder\\:\\:\\$extras \\(Illuminate\\\\Support\\\\Collection\\<int, string\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Domain/Models/Entities/QueryBuilder.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:factory\\(\\)\\.$#"
			count: 1
			path: src/Domain/Models/Output/ModelDocBlock.php

		-
			message: "#^Method Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Klass\\:\\:docblockLines\\(\\) should return Illuminate\\\\Support\\\\Collection\\<int, string\\> but returns Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Klass.php

		-
			message: "#^Property Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Klass\\:\\:\\$docTags \\(Illuminate\\\\Support\\\\Collection\\<int, string\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Klass.php

		-
			message: "#^Property Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Klass\\:\\:\\$methods \\(Illuminate\\\\Support\\\\Collection\\<int, Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Method\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Klass.php

		-
			message: "#^Method Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Method\\:\\:bodyLines\\(\\) should return Illuminate\\\\Support\\\\Collection\\<int, string\\> but returns Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Method.php

		-
			message: "#^Method Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Method\\:\\:docblockLines\\(\\) should return Illuminate\\\\Support\\\\Collection\\<int, string\\> but returns Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Method.php

		-
			message: "#^Property Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Nemespace\\:\\:\\$classes \\(Illuminate\\\\Support\\\\Collection\\<string, Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Klass\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Entities/Nemespace.php

		-
			message: "#^Method Soyhuce\\\\NextIdeHelper\\\\Support\\\\Output\\\\IdeHelperClass\\:\\:eloquentBuilder\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Builder\\> but returns string\\.$#"
			count: 1
			path: src/Support/Output/IdeHelperClass.php

		-
			message: "#^Property Soyhuce\\\\NextIdeHelper\\\\Support\\\\Output\\\\IdeHelperFile\\:\\:\\$namespaces \\(Illuminate\\\\Support\\\\Collection\\<string, Soyhuce\\\\NextIdeHelper\\\\Entities\\\\Nemespace\\>\\) does not accept Illuminate\\\\Support\\\\Collection\\<\\*NEVER\\*, \\*NEVER\\*\\>\\.$#"
			count: 1
			path: src/Support/Output/IdeHelperFile.php

		-
			message: "#^Method Soyhuce\\\\NextIdeHelper\\\\Support\\\\Type\\:\\:qualify\\(\\) should return T of string but returns string\\.$#"
			count: 2
			path: src/Support/Type.php

