includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    excludePaths:
        - src/Domain/Meta/LaravelVsCode.php

    checkOctaneCompatibility: true
    checkModelProperties: true
