includes:
  - ./vendor-bin/phpstan/vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - src

  # Level 9 is max
  level: 5

  ignoreErrors:
    - '#Call to an undefined method ReflectionType::isBuiltin\(\)\.#'

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
